body {
	width:1440px;
	height:2560px;
	border: 1px solid black;
	border-radius:25px;
}

#head {
	width:inherit;
	height:512px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: 1px solid #dddddd;
}
