body {
	width:1440px;
	height:2560px;
	border: 1px solid black;
	border-radius:25px;
	overflow:hidden;
}

#head {
	width:inherit;
	height:215px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #ededed;
}

#head img {
	background-color:inherit;
}
